
body {
  background-color: #f1f1f1;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
}

#title {
  border-style: none;
  background-color: #f1f1f1;
  text-align: center;
}

#title:hover {
  box-shadow: none;
}

.heading {
  color: black;
}

#rules {
  text-align: left;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #000000;
}


div:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


div {
  background-color: white;
  margin: auto;
  border: 5px solid black;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

#gameContainer {
  display: block;
  width: 80%;
  background-color: orange;
}

footer {
  text-align: center;
}

#gameInfo {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

#left, #right {
  flex: 1 0 0;
  margin: 5px;
  background-color: #f1f1f1;
}

#gameInfo {
  background-color: rgb(206, 55, 55);
}

table {
  margin: auto;
}

table, th, td {
  border: 1px solid black;
}
